.wrapper {
    padding: 80px 40px;
    margin: 0 auto;

    //고정창 UI 제공
    width: 1452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .header {
            font-weight: bold;
            font-size: 38px;
            font-weight: 700;
        }
        & .header-search-box {
            display: flex;
            margin-top: 41px;
        }
    }

    & section {
        width: inherit;
        margin-top: 60px;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
