$gray-100: #f7f7fa;
$gray-200: #f0f0f5;
$gray-300: #e1e1e8;
$gray-400: #cdced6;
$gray-500: #858899;
$gray-600: #525463;
$gray-700: #2b2d36;
$blue-100: #5094fa;
$blue-200: #1d6ce0;
$blue-300: #0b53bd;
$blue-400: #0042a3;
$blue-500: #003687;
$red-100: #fa5f6e;
$red-200: #cc3b49;
$red-300: #a32c38;
$orange-100: #e6760e;
$orange-200: #b35702;
$orange-300: #8c4604;
$green-100: #00a881;
$green-200: #008062;
$green-300: #216354;
$white: #fff;
$black: #000;
$primary: #5094fa;
$secondary: #1d6ce0;
$tetiary: #0b53bd;
$success: #00a881;
$info: #858899;
$warning: #e6760e;
$danger: #fa5f6e;
$light: #fff;
$dark: #2b2d36;
$alternative: #525463;
$hint: #858899;
